force-app/main/default/flows/Opportunity_After_Insert_and_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Closed_Won</name>
        <label>Closed Won</label>
        <locationX>182</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Not Closed Won</defaultConnectorLabel>
        <rules>
            <name>Is_Closed_Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Closed_Won_Create_Reminder_to_Check_up_in_a_Year</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is Closed Won</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_Stage_set_to_On_Site_Inspection</name>
        <label>On Stage set to On Site Inspection</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not On Site Inspection</defaultConnectorLabel>
        <rules>
            <name>Is_On_Site_Inspection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Site Inspection</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>On_Site_Inspection_Reminder</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Is On Site Inspection</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>InAYear</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate},12)</expression>
    </formulas>
    <interviewLabel>Opportunity After Insert and Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity After Insert and Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>On_Closed_Won_Create_Reminder_to_Check_up_in_a_Year</name>
        <label>On Closed Won Create Reminder to Check-up in a Year</label>
        <locationX>50</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>InAYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>&apos;Check-up on this Closed Won Opportunity&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>On_Site_Inspection_Reminder</name>
        <label>On Site Inspection Reminder</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Closed_Won</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsReminderSet</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Prepare for On Site Inspection&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>On_Stage_set_to_On_Site_Inspection</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
